<!DOCTYPE html>
<html>

<head>
    <title>Adobe Hiring</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .section {
        width: 100%;
        min-height: 100vh;
        background-color: #fff;
    }

    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 100px;
    }

    .content-section {
        float: left;
        width: 55%;
    }

    .image-section {
        float: right;
        width: 40%;
    }

    .image-section img {
        width: 100%;
        height: auto;
    }

    .content-section .title {
        text-transform: uppercase;
        font-size: 28px;
    }

    .content-section .content h3 {
        margin-top: 20px;
        color: black;
        font-size: 21px;
    }

    .content-section .content p {
        margin-top: 10px;
        font-family: sans-serif;
        font-size: 18px;
        line-height: 1.5;
    }


    @media screen and (max-width: 768px) {
        .container {
            width: 80%;
            display: block;
            margin: auto;
            padding-top: 50px;
        }

        .content-section {
            float: none;
            width: 100%;
            display: block;
            margin: auto;
        }

        .image-section {
            float: none;
            width: 100%;

        }

        .image-section img {
            width: 100%;
            height: auto;
            display: block;
            margin: auto;
        }


    }
</style>

<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <img src="/static/adobe_img/img11.jpg" alt="">
                    <!-- <h1>Hiring Process </h1> -->
                </div>
                <div class="content">
                    <h3>The Eligibility Criteria for Adobe</h3>
                    <p>
                        <li>The candidate must have secured 70% or above in 10th as well as 12th.</li>
                        <li>The candidate must have secured a minimum of 70% in B.Tech</li>
                        <li>No backlogs at the time of interview</li>
                        <li>Maximum of 2 year gap in education is allowed</li>
                        <li>Good Communication Skills </li>
                        <li>Knowledge on software as well as hardware will be an additional benefit</li>
                    </p>
                    <h3>Recruitment Process</h3>
                    <p>
                        <li>Adobe conducts 5-6 rounds to select freshers as MTS (Member of techincal staff, equivalent
                            to SDE) in their organization. The following rounds are conducted:</li>
                    </p>
                    <p>
                        <li>Online Coding + Aptitude Round</li>
                        <li>Multiple Technical Rounds</li>
                        <li>HR Round</li>
                    </p>


                    <h3>Interview Rounds</h3>
                    <p>
                        <li><b>Online Coding + Aptitude Round:</b> The online round is hosted on Hackerrank and the
                            candidates are presented with 2-3 coding questions + General Aptitude + Output related
                            problems. The coding problems are generally from Arrays and Strings. The whole round is
                            around 60-75 minutes long.
                            Selected candidates sit for further personal interviews.
                        </li>
                    </p>

                    <p>
                        <li><b>Technical Round 1:</b> Technical rounds are face-to-face rounds in which candidates are
                            presented with a mix of questions from DS/Algo, OS and memory management related topics. A
                            strong understanding of theoretical concepts as well as implementation is needed to clear
                            this round.
                        </li>
                    </p>

                    <p>
                        <li><b>Technical Round 2:</b>More algorithmic problems, including recursion, graphs and DP
                            questions, along with puzzles are asked. Project related questions are also sometimes asked
                            in this round, and the technologies associated with it. One should know the everything about
                            his project as the questions can dive deep into technological aspects.
                        </li>
                    </p>


                    <p>
                        <li><b>Technical Round 3:</b>This round generally consists of System design problems, conceptual
                            and implementation questions from OS and DBMS. Algorithmic and coding questions of
                            medium-hard difficulty are also asked, including conceptual questions from c/c++.
                        </li>
                    </p>

                    <p>
                        <li><b>HR Round: </b></li>
                        <li>1.Tell me about Yourself</li>
                        <li>2.Why Adobe ?</li>
                        <li>3.Your shortcomings and strengths.</li>
                        <li>4.Tell me about your recent project?</li>
                        <li>5.Details about the technical stuff done in college.</li>

                    </p>

                    <h3>The Interview Process:</h3>
                    <p>
                        <li> <b> Submit an application: </b> You’ve come this far, so don’t be shy. Submit your
                            application. We’re keen to get to know you, your career aspirations, and the impact you’re
                            hoping to make at Adobe. We will contact you if your skills and experience are a match for
                            what we’re looking for. If there isn’t a match on your first application, try again. We have
                            hundreds of roles available.</li>

                        <li> <b> Introductory phone interview : </b>If your experiences are a match for what we’re looking
                            for, someone from our Talent team will set up time to learn more about you and answer any
                            questions you may have about the role, the team, or Adobe in general. This is also an
                            opportunity to ask the recruiter what to expect for the remainder of the hiring process.
                            Depending on the outcome of the meeting, the recruiter may schedule a conversation with the
                            Hiring Manager. If not, don’t be discouraged, apply for another role. We have hundreds of
                            positions available.</li>

                        <li><b> Hiring Manager Interview :</b>If you’re scheduled for a meeting with the Hiring Manager,
                            expect to have a conversation about the scope of the job you applied for. The Hiring Manager
                            will also be assessing your skills and level of interest. If you have questions about the
                            role or the team, now’s the best time to get them answered. Take the opportunity to assess
                            if this is the right role and team for you. Following the interview, expect to receive a
                            follow up email or call from the recruiter.</li>

                        <li><b> Assessment: </b> Depending on the role you’re interviewing for, you may receive a
                            ‘take-home’ assessment,
                            like a role play, coding, or content/writing assignment. These assignments give you a better
                            idea of the day-to-day work involved.
                        </li>

                        <li><b> Face-to-Face Interviews :</b> Now is the time for you to learn even more about Adobe,
                            especially the broader team you’ll be working with regularly. These interviews will also
                            give us a deeper understanding of your professional experience and talents.


                        <li> <b> Decision Stage :</b>
                            Now that we’ve gotten to know each other, the hiring team will debrief and make a final
                            decision. If you’re selected for the role, the recruiter will reach out with a verbal offer.
                            If you’ve not been selected for the role, our recruiter will contact you to provide
                            thoughtful feedback so you’re prepared for your next interview.</li>

                        <li><b>Offer & Pre-Employment Checks :</b>At this stage, an offer letter and new hire documents
                            will be sent to you for signature. Adobe will require proof of your right to work, and
                            contact details of your references. You will then need to complete a background check as
                            well as a conflict-of-interest survey. Depending on your region and local laws, you may
                            complete pre-employment checks prior to receiving your offer.</li>

                        <li><b>New Hire Onboarding : </b>You’re a step closer to joining! Once you’ve accepted the
                            offer, our recruiting team will give you all the information you need about the new hire
                            onboarding process. Expect trainer-led lessons, group work, and self-paced sessions
                            virtually over Microsoft Teams. Welcome to #AdobeLife!</li>
                    </p>

                   

                    <h3>Where to Apply ?</h3>
                    <p>
                        <li>Adobe careers</li>
                        <li>Adobe Official Website</li>
                    </p>

                </div>

            </div>
            <div class="image-section">
                <img src="/static/adobe_img/img5.jpg">
                <img src="/static/adobe_img/img4.webp">
                <img src="/static/adobe_img/img12.png">
                <img src="/static/adobe_img/img2.jpg">
                <img src="/static/adobe_img/img8.jpg">
                <img src="/static/adobe_img/img10.webp">
                <img src="/static/adobe_img/img6.png">
                <img src="/static/adobe_img/img7.png">
                <img src="/static/adobe_img/img13.webp">
            </div>
        </div>
    </div>


</body>

</html>